@import 'basics';

#checkout {
    h3 {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: .5em;
    }
    input, select, textarea {
        padding: 12px;
        box-shadow: 0px 4px 20px rgba(0,0,0,0.05);
    }

    .col-2 {
        margin-bottom: 24px;
    }

    form.checkout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .fieldsCol {
            width: 58%;
        }
        .reviewCol {
            width: 38%;
        }
        #payment {
            padding: 24px 32px;
            background-color: #f8f8f8;
        }
        button.button {
            width: 100%;
            margin-top: 24px;
            padding: 20px;
        }
    }
    .woocommerce-billing-fields, .woocommerce-additional-fields {
        margin-bottom: 24px;
    }
}

@media (max-width: 1100px){
    #checkout {
        padding: 0px 30px;
        form.checkout {
            .fieldsCol, .reviewCol {
                width: 100%;
            }
        }
    }
}