@import 'basics';

#banner {
    .leftCol {
        background-color: #FDF4F3;
        z-index: 1;

    }
    .rightCol {
        color: white;
 
        .bannerBlock {
            position: relative;
        }
        .rightBottomImage {
            max-width: 180px;
        }
    }
    .rightBottomImage {
        position: absolute;
        right: -20px;
        bottom: -40px;
        transform: rotate(20deg);
        width: 100%;
        max-width: 220px;
        object-fit: contain;
        z-index: 2;
    }
    .backgroundImageBlock {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
            object-fit: cover;
            z-index: 0;
        }

        &.overlay {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &.black {
                &::after { background-color: rgba(0,0,0,0.5) };
            }
            &.red {
                &::after { background-color: rgba(206,52,44,0.65) };
            }
        }
    }
    .innerWrapper {
        position: relative;
        z-index: 3;
    }

    .lineButton {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -4px;
            position: absolute;
            transition: .3s;
            background-color: white;
        }

        &:hover {
            &::after {
                bottom: -8px;
            }
        }
    }
}

footer {
    #footer-widgets {
        ul li {
            font-size: 0.9em;
        }
    }
}

section.product {
    z-index: 3;
}

body.single-product {
    .summary {
        padding: 5rem 0;
        h1 {
            order: 1;
        }
        .productUspWrapper {
            order: 2;
        }
        .price {
            order: 4;
            margin-bottom: 1rem;

            .woocommerce-Price-currencySymbol {
                color: #ddd;
                font-size: 0.8em;
                font-weight: 500;
                margin-right: 16px;
            }

            bdi {
                color: #000000;
                font-size: 1.4em;
                font-weight: bold;
            }
        }
        #stockLabel {
            order: 3;
        }
        form.cart {
            order: 5;
            display: flex;
            flex-direction: row;
        }
        h3.omschrijvingHead {
            order: 6;
        }
        .woocommerce-product-details__short-description {
            order: 7;
        }
        .product_meta {
            order: 8;
        }
    }
}

@media (max-width: 992px){
    #banner {
        .rightBottomImage {
            max-width: 160px;
        }
    }
}