@import 'basics';

input[type=text], input[type=number], input[type=email], input[type=password], input[type=tel], input[type=date] {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 8px;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}  