@import 'basics';

header {
    #head {
        .logoCol {
            img {
                max-height: 50px;
            }
        }

        &.lsmi {

        }
        &.lmsi {
            .logoCol {
                order: 1;
            }
            .menuCol {
                order: 2;
            }
            .searchCol {
                order: 3;
            }
        }
    }
}

