@import 'basics';
@import 'menu-dropdown.scss';

header {
    #head {
        .logoCol {
            order: 1;
            img { 
                max-height: 50px;
            }
        }
        .mobileNavContainer {
            order: 2;
        }
        .nav-item {
            .itemWrapper {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

@media (max-width: 992px){

    body.show-menu {
        overflow-y: hidden;
    }

    .mobileNavContainer {
        top: 0;
        position: fixed;
        height: 100vh;
        background-color: white;
        transition: 0.4s;
        left: -100%;
    }
    .show-menu .mobileNavContainer {
        display: flex;
        flex-direction: column;
        left: 0;
        box-shadow: 5px 0px 30px rgba(0,0,0,0.12);

        .nav-item {
            padding: 0px;
            border-bottom: 1px solid #ddd;
            display: flex;
            flex-direction: row;

            a.nav-link { 
                color: black;
                font-weight: 400;
                min-height: 50px;
                padding: 0px 20px;
            }
            .openDropdown {
                position: relative;
                height: 50px;
                width: 50px;
                background-color: #eee;
                color: black;

                svg {
                    transition: 0.3s;
                }
            }
        }
    }
    .mobileNav {
        order: 99;

        a img {
            height: 30px;
        }
        .fa-bars {
            color: white;
        }
    }
    .navbar-toggler {
        &:focus {
            outline: none;
        }
    }
    .navbar-toggler .navbar-bar {
        width: 30px;
        height: 2px;
        content: ''; 
        background-color: white;
        margin: 6px 0;
        transition: 0.3s;
    }
    .show-menu #head .menuCol {
        display: flex;
        width: 100%;
        order: 100 !important;
        flex-direction: column;
        margin: 0px;
        padding: 0px;

        .nav-item {
            margin: 0px;
        }
    }
    .show-menu .navbar-toggler .navbar-bar.bar1 {
        width: 32px;
        transform-origin: center;
        transform: rotate(-45deg) translate(-6px, 5px);
    }
    .show-menu .navbar-toggler .navbar-bar.bar2 {
        opacity: 0;
    }
    .show-menu .navbar-toggler .navbar-bar.bar3 {
        width: 32px;
        transform-origin: center;
        transform: rotate(45deg) translate(-7px, -5px);
    }
    
} 