@import 'basics';

header {
    #head {
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .logoCol {
            img {
                max-height: 50px;
            }
        }
    }
}

