// Colors
$priColor: #2196f3;
$priColorLight: #e5edff;

$darkColor: #111111;
$lightColor: #eee;

// Fonts
$priFont: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$subFont: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
